body{
    padding: 100px;
}

.top-cards{
    color: white;
    padding: 15px;
    margin-top: 20px;
}

.top-cards, .bottom-card, .login{
    border-radius: 10px;

}

.btn:hover{
    background-color: rgb(71, 135, 255);
    border: none;
    transition: .5s;
}

#deposit{
    background-color: #6a5acd;
}
#withdraw{
    background-color: #ffa07a;
}
#balance{
    background-color: #ffa500;
}